<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org/">

<head>
    <meta th:replace="~{commons/adminHead}">
	<script src="https://cdn.jsdelivr.net/npm/axios@1.7.7/dist/axios.js"></script>
	<title>活動詳情</title>
	<style>
		table>tbody>tr>th {
			width: 100px;
			text-align: right;
			vertical-align: middle;
		}
		table>tbody>tr>td {
			text-align: left;
			vertical-align: middle;
		}
	</style>
	<script>
		$(document).ready(function () {

			// 初始化常數與 function

			const contextPath = window.location.protocol + "//" + window.location.host + "/" + window.location.pathname.split("/")[1];
			const currentPath = window.location.protocol + "//" + window.location.host + window.location.pathname;
			const eventID = window.location.pathname.substring(window.location.pathname.lastIndexOf('/') + 1);
			const editStatusUrl = `${contextPath}/admin/api/event/${eventID}/edit-status`;

			// status-button maker
			function statusButtonMaker(status) {
				let statusButtonDiv = document.createElement("div");

				switch (status) {
					case 0:  // 「未上架」
					    
					    // 上架按鈕
						let listButton = document.createElement("button");
						listButton.setAttribute("id", "list-button");
						listButton.classList.add("btn", "btn-success");
						listButton.textContent = "上架";
						statusButtonDiv.append(listButton);

						// 刪除按鈕
						let deleteButton = document.createElement("button");
						deleteButton.setAttribute("id", "delete-button");
						deleteButton.classList.add("btn", "btn-danger", "ms-3");
						deleteButton.textContent = "刪除";
						statusButtonDiv.append(deleteButton);

						break;
					case 1:  // 「已上架」
						
						// 下架按鈕
						let unlistButton = document.createElement("button");
						unlistButton.setAttribute("id", "unlist-button");
						unlistButton.classList.add("btn", "btn-warning");
						unlistButton.textContent = "下架";
						statusButtonDiv.append(unlistButton);

						break;
				}

				return statusButtonDiv;
			}


			// event-tbody maker
			function eventTbodyMaker(eventData) {
				const eventTbodyTemplate = document.getElementById("event-tbody-template").content.cloneNode(true);

				// 活動編號
				eventTbodyTemplate.getElementById("event-id").innerText = eventData.eventID;

				// 狀態
				const status = eventTbodyTemplate.getElementById("status");
				switch (eventData.status) {
					case 0:
						status.classList.add("text-danger");
						status.innerText = "（未上架）";
						break;
					case 1:
						status.classList.add("text-success");
						status.innerText = "（已上架）";
						break;
					case 2:
						status.classList.add("text-primary");
						status.innerText = "（已啟售）";
						break;
				}

				// 編輯狀態按鈕
				const statusButtonDiv = eventTbodyTemplate.getElementById("status-button");
				statusButtonDiv.append(statusButtonMaker(eventData.status).cloneNode(true));
				// 狀態按鈕的 EventListener
				statusButtonDiv.addEventListener("click", event => {
					switch (event.target.id) {
						case "list-button":
							editStatusButton(1);
							break;
						case "delete-button":
							editStatusButton(-1);
							break;
						case "unlist-button":
							editStatusButton(0);
							break;
					}
				})
				
				// 活動名稱
				eventTbodyTemplate.getElementById("event-name").innerText = eventData.eventName;

				// 活動主圖
				eventPicTd = eventTbodyTemplate.getElementById("event-pic");
				if (eventData.eventPic != null) {
					const img = document.createElement("img");
					img.setAttribute("src", eventData.eventPic);
					img.setAttribute("alt", eventData.eventName);
					img.setAttribute("width", "320px");
					eventPicTd.append(img);
				} else {
					eventPicTd.innerText = "（無圖片）";
				}

				// 活動類別
				eventTbodyTemplate.getElementById("event-category").innerHTML = eventData.eventCategory.categoryName;

				// 活動標籤
				const eventTagTd = eventTbodyTemplate.getElementById("event-tag");
				if (eventData.eventTag != null) {
					eventTagTd.innerText = eventData.eventTag.tagName;
				} else {
					eventTagTd.innerText = "（無標籤）";
				}

				const eventDescTd = eventTbodyTemplate.getElementById("event-desc");
				if (eventData.eventDesc != null) {
					eventDescTd.innerText = eventData.eventDesc;
				} else {
					eventDescTd.innerText = "（無活動介紹）";
				}

				// TODO 待繼續完成
				document.getElementById("event-tbody").append(eventTbodyTemplate);
			}

			

			// 編輯狀態按鈕的 EventListener
			function editStatusButton(editStatus) {
				axios.put(editStatusUrl, {
						editStatus: editStatus,
					})
					.then(res => {
						console.log(res);
						alert("編輯狀態成功！");
						// TODO 重新 Ajax
					})
					.catch(err => {
						console.error(err); 
						alert("編輯狀態失敗。");
					})
			}



			// EventListener
			document.getElementById("edit").addEventListener("click", function() {
				window.location.href = `${currentPath}/edit`;
			})
			document.getElementById("cancel").addEventListener("click", function() {
				window.location.href = currentPath.substring(0, currentPath.lastIndexOf("/"));
			})

			// 初始執行
			axios.get(contextPath + "/admin/api/event/" + eventID)
				.then(res => {
					eventTbodyMaker(res.data.event);
				})
				.catch(err => {
					console.error(err); 
			})
			// statusButtonMaker();




		});
	</script>
</head>

<body>
	<div th:replace="~{commons/adminHeader}"></div>
    
	<!--  這裡是網頁內容 >-->
	<div id="container" class="container">
		<h1>活動詳情</h1>
		<table class="table table-hover" th:unless="${error}">
			<tbody id="event-tbody">
				<!-- <tr>
					<th>活動編號</th>
					<td id="event-id">[[${event.eventID}]]</td>
				</tr>
				<tr>
					<th>狀態</th>
					<td id="statusTd" class="d-flex">
						<span th:if="${event.status == 0}" id="status" th:data-status="${event.status}" class="d-flex align-items-center text-danger">未上架</span>
						<span th:if="${event.status == 1}" id="status" th:data-status="${event.status}" class="d-flex align-items-center text-success">已上架</span>
						<span th:if="${event.status == 2}" id="status" th:data-status="${event.status}" class="d-flex align-items-center text-primary">已啟售</span>
					</td>
				</tr>
				<tr>
					<th>活動名稱</th>
					<td>[[${event.eventName}]]</td>
				</tr>
				<tr>
					<th>活動主圖</th>
					<td>
						<img th:if="${event.eventPic != null}" th:src="@{${event.eventPic}}" th:alt="${event.eventName}" width=320px>
						<span th:unless="${event.eventPic != null}">（無圖片）</span>
					</td>
				</tr>
				<tr>
					<th>活動類別</th>
					<td>[[${event.eventCategory.categoryName}]]</td>
				</tr>
				<tr>
					<th>活動標籤</th>
					<td>
						<span th:if="${event.eventTag != null}" th:text="${event.eventTag.tagName}"></span>
						<span th:unless="${event.eventTag != null}">（無標籤）</span>
					</td>
				</tr>
				<tr>
					<th>活動介紹</th>
					<td>
						<span th:if="${event.eventDesc != null}">[[${event.eventDesc}]]</span>
						<span th:unless="${event.eventDesc != null}">（無活動介紹）</span>
					</td>
				</tr> -->
			</tbody>
		</table>
		<div th:if="${error}">未找到此筆活動。</div>
		<div id="action-buttons" class="d-flex mb-3">
			<button class="btn btn-secondary" id="cancel">回到活動列表</button>
			<button class="btn btn-primary ms-auto" id="edit">編輯活動</button>
		</div>
	</div>
	

   <div th:replace="~{commons/adminFooter}"></div>
   <template id="event-tbody-template">
		<tr>
			<th>活動編號</th>
			<td id="event-id"></td>
		</tr>
		<tr>
			<th>狀態</th>
			<td class="d-flex">
				<span id="status" data-status="" class="d-flex align-items-center"></span>
				<div id="status-button" class="ms-auto gap-3"></div>
			</td>
		</tr>
		<tr>
			<th>活動名稱</th>
			<td id="event-name"></td>
		</tr>
		<tr>
			<th>活動主圖</th>
			<td id="event-pic">
				<img th:if="${event.eventPic != null}" th:src="@{${event.eventPic}}" th:alt="${event.eventName}" width=320px>
				<span th:unless="${event.eventPic != null}">（無圖片）</span>
			</td>
		</tr>
		<tr>
			<th>活動類別</th>
			<td id="event-category"></td>
		</tr>
		<tr>
			<th>活動標籤</th>
			<td id="event-tag"></td>
		</tr>
		<tr>
			<th>活動介紹</th>
			<td id="event-desc"></td>
		</tr>
   </template>
</body>

</html>